<header class="py-6 mb-10 border-b-2 border-blue-600 sticky top-0 w-full z-20 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav class="relative z-50 flex justify-between">
      <div class="flex items-center md:gap-x-12">
        <a aria-label="Home" href="/#">
          <h1 class="text-2xl font-normal">Dream Homes Japan</h1>
        </a>
        <div class="hidden md:flex md:gap-x-6">
          <a class="inline-block rounded-lg py-1 px-2 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="/#features">About</a>
          <a class="inline-block rounded-lg py-1 px-2 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="/#testimonials">Blog</a>
          <a class="inline-block rounded-lg py-1 px-2 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900" href="/#pricing">FAQ</a>
        </div>
      </div>
    </nav>
  </div>
</header>
