{{ define "main" }}
<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <main class="mx-auto">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl font-bold tracking-tight sm:text-5xl xl:text-6xl">
              <span class="block text-gray-900">Affordable tranquility</span>
              <span class="block text-blue-600">in Japan.</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"></p>
          <div class="mt-8 sm:mx-auto sm:max-w-lg sm:text-center lg:mx-0 lg:text-left">
            <p class="text-base font-medium text-gray-900">Get 20 new listings every week + tips on living in Japan.</p>
            <form action="#" method="POST" class="mt-3 sm:flex">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email"
                class="block w-full rounded-md border-gray-300 py-3 text-base placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:flex-1"
                placeholder="Enter your email">
              <button type="submit"
                class="mt-3 w-full rounded-md border border-transparent bg-gray-800 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:inline-flex sm:w-auto sm:flex-shrink-0 sm:items-center">Notify
                me</button>
            </form>
            <p class="mt-3 text-sm text-gray-500">
              We care about the protection of your data. Read our
              <a href="#" class="font-medium text-gray-900 underline">Privacy Policy</a>.
            </p>
          </div>
        </div>
        <div
          class="relative mt-12 sm:mx-auto sm:max-w-lg lg:col-span-6 lg:mx-0 lg:mt-0 lg:flex lg:max-w-none lg:items-center">
          <img class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md object-none rounded-lg"
            src="https://images.pexels.com/photos/4679120/pexels-photo-4679120.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1280&dpr=1"
            alt="">
        </div>
      </div>
    </main>
    <!-- <h1 class="mx-auto text-xl text-center tracking-tight text-slate-900 sm:text-2xl">
      <span class="font-bold text-blue-600">Affordable luxury</span> in Japan - search our dream home listings and find
      your perfect match!
    </h1> -->
    <div class="h-10">

    </div>
    <!-- SEARCH INPUT START -->
    <div>
      <label for="search" class="block text-lg font-medium text-gray-700 mb-2">Search Listings</label>
      <div class="flex gap-2">
        <div class="relative mt-1 flex items-center w-full">
          <input type="text" name="search" id="search"
            class="block w-full rounded-md border-gray-300 pr-12 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
            <kbd
              class="inline-flex items-center rounded border border-gray-200 px-2 font-sans text-sm font-medium text-gray-400">⌘K</kbd>
          </div>
        </div>
        <!-- FILTER DROPDOWN START -->
        <div class="relative mt-1 inline-block text-left">
          <div>
            <button type="button"
              class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
              id="filter-button" aria-expanded="true" aria-haspopup="true">
              Filters
              <!-- Heroicon name: mini/chevron-down -->
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>

          <!--
        Dropdown menu, show/hide based on menu state.
    
        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
          <!-- transform opacity-100 scale-100 -->
          <div
            class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transform opacity-0"
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="filter-menu"
            _="on click from #filter-button toggle between .opacity-0 and .opacity-100">
            <div class="py-1" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                id="menu-item-0">Account settings</a>
              <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                id="menu-item-1">Support</a>
              <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                id="menu-item-2">License</a>
              <form method="POST" action="#" role="none">
                <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem"
                  tabindex="-1" id="menu-item-3">Sign out</button>
              </form>
            </div>
          </div>
        </div>
        <!-- FILTER DROPDOWN START -->
      </div>
    </div>
    <!-- SEARCH INPUT END -->
    <!-- TABLE START -->
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-8">
      {{ $nums := slice 1 2 3 4 5 6 7 8 9 10 }}
      {{ range $nums }}
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-slate-100 text-center shadow">
        <div class="flex flex-1 flex-col p-8">
          <img class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
            alt="">
          <h3 class="mt-6 text-sm font-medium text-gray-900">Jane Cooper</h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">Paradigm Representative</dd>
            <dt class="sr-only">Role</dt>
            <dd class="mt-3">
              <span class="rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-800">Admin</span>
            </dd>
          </dl>
        </div>
        <div>
          <div class="-mt-px flex divide-x divide-gray-200">
            <div class="flex w-0 flex-1">
              <a href="mailto:janecooper@example.com"
                class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                <!-- Heroicon name: mini/envelope -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
                  <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
                </svg>
                <span class="ml-3">Email</span>
              </a>
            </div>
            <div class="-ml-px flex w-0 flex-1">
              <a href="tel:+1-202-555-0170"
                class="relative inline-flex w-0 flex-1 items-center justify-center rounded-br-lg border border-transparent py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
                <!-- Heroicon name: mini/phone -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                    clip-rule="evenodd" />
                </svg>
                <span class="ml-3">Call</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      {{end}}

      <!-- More people... -->
    </ul>
    <!-- TABLE END -->
  </div>
  <!-- <section id="faq" aria-labelledby="faq-title" class="relative overflow-hidden bg-slate-50 mt-20">
    <img alt="" src="/_next/static/media/background-faqs.55d2e36a.jpg" width="1558" height="946" decoding="async"
      data-nimg="1" class="absolute top-0 left-1/2 max-w-none translate-x-[-30%] -translate-y-1/4" loading="lazy"
      style="color:transparent">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 id="faq-title" class="font-display text-3xl tracking-tight text-slate-900 sm:text-4xl">Frequently asked
          questions</h2>
        <p class="mt-4 text-lg tracking-tight text-slate-700">If you can’t find what you’re looking for, email our
          support team and if you’re lucky someone will get back to you.</p>
      </div>
      <ul role="list" class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3">
        <li>
          <ul role="list" class="flex flex-col gap-y-8">
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">Does TaxPal handle VAT?</h3>
              <p class="mt-4 text-sm text-slate-700">Well no, but if you move your company offshore you can probably
                ignore it.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">Can I pay for my subscription via purchase
                order?</h3>
              <p class="mt-4 text-sm text-slate-700">Absolutely, we are happy to take your money in all forms.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">How do I apply for a job at TaxPal?</h3>
              <p class="mt-4 text-sm text-slate-700">We only hire our customers, so subscribe for a minimum of 6 months
                and then let’s talk.</p>
            </li>
          </ul>
        </li>
        <li>
          <ul role="list" class="flex flex-col gap-y-8">
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">What was that testimonial about tax fraud all
                about?</h3>
              <p class="mt-4 text-sm text-slate-700">TaxPal is just a software application, ultimately your books are
                your responsibility.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">TaxPal sounds horrible but why do I still feel
                compelled to purchase?</h3>
              <p class="mt-4 text-sm text-slate-700">This is the power of excellent visual design. You just can’t resist
                it, no matter how poorly it actually functions.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">I found other companies called TaxPal, are you
                sure you can use this name?</h3>
              <p class="mt-4 text-sm text-slate-700">Honestly not sure at all. We haven’t actually incorporated or
                anything, we just thought it sounded cool and made this website.</p>
            </li>
          </ul>
        </li>
        <li>
          <ul role="list" class="flex flex-col gap-y-8">
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">How do you generate reports?</h3>
              <p class="mt-4 text-sm text-slate-700">You just tell us what data you need a report for, and we get our
                kids to create beautiful charts for you using only the finest crayons.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">Can we expect more inventory features?</h3>
              <p class="mt-4 text-sm text-slate-700">In life it’s really better to never expect anything at all.</p>
            </li>
            <li>
              <h3 class="font-display text-lg leading-7 text-slate-900">I lost my password, how do I get into my
                account?</h3>
              <p class="mt-4 text-sm text-slate-700">Send us an email and we will send you a copy of our latest password
                spreadsheet so you can find your information.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section> -->
</main>
{{ end }}